
body{
    font-family: "montserrat";
    text-align: center;
}


.container-fluid{
    padding: 7% 15%;
}


h1, h2, h3, h4, h5, h6{
 
    font-family: montserrat;   

}

p{
    color: #8f8f8f;
}

/* headings */


.big-heading{
    font-family: montserrat;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.coloured-section{
    background-color: green;
    color: #fff;
}

.white-section{
    background-color: #fff;
}






/***Navigation Bar****/


.navbar-brand {
   
    font-weight: bold;
    font-family: ubuntu;
    font-size: 3.5rem;
   
}
.nav-item{
    padding: 0 18px;
}


.navbar{
    padding: 0 0 4.5rem;
}

    


/************Download buttons****************/

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title section */


#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

  
 .title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    

 }



/************Features****************/


#features{
   
    position: relative;
    
}

.feature-box{
    padding: 4.5%;
}

.feature-title{
    font-size: 3rem;
    line-height: 1.5;
}

    


.icon{
    color: green;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68
}


/* Testimonials */


#testimonials{

    color: #fff;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;

}

.testimonial-image{
    width: 16%;
    border-radius: 100%;
    margin: 30px;
}

#press{
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */


#pricing{
    padding: 100px;
    
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;

}
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 40%
    }
}

/* Call to Action */

#cta{
    
    color: #fff;
    
}

.cta-heading{
    font-family: "montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* <!-- Footer --> */


.social-icon{
    margin: 20px 10px;
}

